.codeArea{
	-fx-font-family: 'Lucida Console';
	-fx-text-fill: #A6E22E;
	-fx-font-size: 16px;

	-fx-highlight-fill: #49483E;
	-fx-highlight-text-fill: #AE81FF;
}
.codeArea .content{
    -fx-background-color: #272822;
}

.messageArea{
	-fx-font-size: 14px;
	-fx-font-family: 'Lucida Console';
	-fx-text-fill: #F78181;
}.messageArea .content{
	-fx-background-color: #000000;
}


.registerArea{
	-fx-text-fill: #0EFCF8;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}
.registerArea .content{
	-fx-background-color: #272822;
}
